{% extends 'base.html' %}
{% block title %}Documents{% endblock %}
{% block script %}
{{ block.super }}
<script src="/static/js/bstreeview.js"></script>
{% endblock %}
{% block style %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/bstreeview.css"/>
<style>

.content {
  background-color: white;
  padding: 24px 2% 0 2%
}

h2,h3 {
  padding-bottom: 0.5em;
}

#preview {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {
#tree1 {
  max-height: 300px;
  min-height: 300px;
  overflow: scroll;
}
}

@media only screen and min-width: 600px) {
#tree1 {
  min-height: 600px;
  max-height: 600px;
  overflow: scroll;
}
}

#preview img {
  max-width: 100%;
  display: block;
  margin: auto;
}

</style>
{% endblock %}
{% block header %}
<nav class="navbar navbar-dark unibar">
	<li class="nav nav-brand">
	    <a href="{% url 'home' %}"><img class="logosmall mt-2" src="/static/home-white.png"></a>
          <span class="mt-2 ml-2">Documents and Maps</span>
    </li>
   <li class="nav justify-content-end">
    	<a href="//en.acaciawater.com"><img class="logo ml-3" src="/static/logos/navbarlogo.png"></img></a>
   </li>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid h-100">
<div class="content h-100">
<div class="row row-fluid h-100">
<div class="col-md-4 col-sm-12">
    <select id="county" class="custom-select" onchange="changeCounty()">
	    <option value="0" selected>All counties</option>
	    <option value="1">Garissa</option>
	    <option value="2">Isiolo</option>
	    <option value="3">Marsabit</option>
	    <option value="4">Turkana</option>
	    <option value="5">Wajir</option>
    </select>
  	<div id="tree1"></div>
</div>
<div class="col-md-8 col-sm-12">
	<div id="preview"><i class="text-muted">Select a document</i></div>
</div>
</div>
</div>
</div>

<script>

function getTreeData(url) {
	return $.getJSON(url).then(response => {
		return response.results
	})
}

var previewTimer = undefined

function clearPreviewTimer() {
	if (previewTimer) {
		window.clearTimeout(previewTimer)
		previewTimer = undefined
	}	
}

function showContent(content) {
	$("#preview").html("Loading...")
	$("#preview").html(content)
}

function loadTree(county) {
	let url = '/tree'
	if (county) {
		url += `?county=${county}`
	}
	$.getJSON(url).then(response => {
		const tree = $("#tree1").bstreeview({data: response.results})
		const view = tree.bstreeview
		console.debug(view.settings)
		$("#tree1 .open").collapse('show').removeClass('open')
		const items = $("#tree1 .list-group-item") 
		items.on("mouseleave", function() {
			clearPreviewTimer()
		})
		items.on("mouseenter", function() {
			clearPreviewTimer()
			const thumb = $(this).attr('thumb')
			let content = ''
			if (thumb) {
				content = `<img src="${thumb}">`
				const link = $(this).find("a[href]").first()
				if (link) {
					const href = link.attr("href")
					content = `<a href="${href}" title="Click to open">${content}</a>`
				} 
			}
			else {
				return; //content = '<i>(No preview available)</i>'
			}
			// show preview content when mouse is 800 msec on item 
			previewTimer = window.setTimeout(content => showContent(content), 800, content)
		})
	})
}

function changeCounty() {
	const urlParams = new URLSearchParams(window.location.search)
	urlParams.set('county',$("#county").val())
	window.location.search = urlParams
}

$(function() {
	const urlParams = new URLSearchParams(window.location.search)
	if (urlParams.has('county')) {
		const county = urlParams.get('county')
		$("#county").val(county)
	}
	loadTree($("#county").val())
})

</script>
{% endblock content %}
