<p>Kenya RAPID is a five-year development program bringing together public and private institutions to increase access to water and sanitation for people and water for livestock, and to rebuild a healthy rangeland-management ecosystem.</p>
<p>Kenya RAPID strongly supports the Ending Drought Emergencies Common Program Framework launched by the Government of Kenya in November 2015, recognizing that “sustainable management of rangelands, water, crops, and increasing the contribution of livestock to the pastoral economy are critical to resilient livelihoods in the Arid and Semi-Arid Lands (ASALs).”</p>
<p>From 2015 through 2020, Kenya RAPID focused on five Northern Counties: Garissa, Isiolo, Marsabit, Turkana and Wajir.</p>
<p>This WASH program seeks to increase the average water access coverage in the five counties from 37% to more than 50%. The program is designed to create a model that can be adapted for use by other counties.</p>
<p>Three strategic objectives (SOs) have guided the program:</p>
<ul>
<li>SO 1: A responsive and accountable governance framework is in place and operational at county government level that ensures sustainable provision of water and pasture;</li>
<li>SO 2: Replicable and scalable business models for sustainable WASH and livestock service delivery have been developed and operationalized; and</li>
<li>SO 3: Communities have increased access to sustainable WASH services and improved range-land management.</li>
</ul>
<p>County governance is at the heart of Kenya RAPID:</p>
<p>This program also marks a significant shift in role of MWA members, which as NGOs, are often direct program implementers. In Kenya RAPID, NGOs instead facilitate a program that is implemented by county governments for delivery of water and sanitation services under the 2010 Constitution of Kenya.</p>
<p>This shift is reflected in the day-to-day operational “heart” of the program – a County Coordination Unit located within each county’s administrative headquarters; a program decision-making structure that prioritizes national and county government representation and authority; and the provision for the direct transfer of program funds to county governments to support the program’s objectives.</p>

<h4>Summary</h4>
<ul>
<li>Program Budget: $35.5 Million</li>
<li>Duration: September 2015 – September 2020</li>
<li>Number of Beneficiaries: 450,000</li>
<li>Program Areas: Garissa, Isiolo, Marsabit, Turkana, Wajir</li>
</ul>
